---
title: Aligned Light Healing
description: The latest app to help you find new friends with common interests.
image: https://alignedlighthealing.com/images/header-main.jpg
bottom_image: https://alignedlighthealing.com/images/heron.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
		<h1 class="editable">Welcome to Aligned Light Healing!</h1>
			<p class="subtext editable">Bring balance to your body, breath, and energy with a blend of Gentle Restorative Bodywork, Breath Work, and Energy Balancing.</p>
			<div align="center">
				<div class="cta button alt">
					<a href="https://pocketsuite.io/link/andrea-cunningham">Book Now</a>
				</div>
			</div>
		</div>
		<div class="get-started"><a href="#get-started">Let's get started <span class="arrow">&#x25BC;</span></a></div>
	</div>
	
</section>

<div class="content">
	<section class="info" id="get-started">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Welcome!</h2>
				<p class="editable">To be aligned with your light simply means to be deeply connected to who you are. </p>
				<p class="editable">Through gentle embodiment modalities I teach you how to listen to the subtle cues your body uses to communicate, help reduce your pain and tension, and offer you the space to create a deeper connection with your body, breath, and energy as you settle into deep relaxation.</p>
				<p class="editable">It’s time to reconnect with your body’s innate wisdom.</p>
				<p class="editable">Let’s get started!</p>
			</div>
			<div class="image">
				<img class="editable" src="images/office-1.jpg"/>
			</div>
		</div>
	</section>

	<section class="info" id="is-this-right-for-you">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">How do you know if this is right for you?</h2>
				<p class="editable">This is for you if:</p>
				<p class="editable">  • You are ready to listen to what your body needs and take the next step in your healing journey.</p>
				<p class="editable">  • You are looking for relief from your day to day stress.</p>
				<p class="editable">  • You are experiencing tension and pain on a regular basis.</p>
				<p class="editable">  • You’re exhausted every day with no energy for the things that you enjoy and need something to change.</p>
				<p class="editable">  • You are neurodivergent, hyper-mobile, or have other chronic conditions that make it difficult for you to relax.</p>
				<div class="cta button dark"><b><a href="https://pocketsuite.io/link/andrea-cunningham">Book Now!</a></b></div>
			</div>
			<div class="image">
				<img class="editable" src="images/trail.jpg" />
			</div>
		</div>
	</section>

	<section class="info" id="reviews">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">What people are saying</h2>
				<p class="editable">“So worthwhile!  Andrea has an incredible gift.  Her calming voice and presence settled my nerves before we even entered the warm and inviting space.  She communicated well before, during, and after my session - asking before moving forward to make sure I was aware of each turn and felt comfortable to proceed.  Her touch is warm, gentle and telling.  Clearly she has training, experience and wisdom!  Prepare to learn more about yourself while you rest in her good care! I would highly recommend!” - Beth</p>
				<p class="editable">"What can I say - I'll be back! I left feeling so relaxed and at ease, both in my body and mind. It felt as if I was floating on calm waters, fully supported yet light and buoyant. Andrea creates such a safe, comforting space which really helped me sink into the experience. It's clear she's not only working with a depth of knowledge but also with intuitive guidance. I wholly trust Andrea and recommend her to anyone seeking gentle, healing bodywork.” - Maya</p>
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Find balance today</h2>
				<p class="subtext editable">Take the first step in your healing journey</p>
				<div class="cta button alt"><a href="https://pocketsuite.io/link/andrea-cunningham">Book an appointment</a></div>
			</div>
		</div>
	</section>
</div>
