---
title: Home
description: The latest app to help you find new friends with common interests.
image: https://alignedlighthealing.com/images/light.jpg
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Align your light</h1>
			<p class="subtext editable">Find balance as a Neurodivergent woman with supportive bodywork and wellness coaching</p>
			<div class="cta button alt"><a href="https://pocketsuite.io/link/andrea-cunningham">Book Now</a></div>
		</div>
	</div>
	<div class="get-started"><a href="#get-started">Let's get started <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="get-started">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Welcome to a space created just for you!</h2>
				<p class="editable">To be Aligned with your Light simply means to be deeply connected to who you are. </p>
				<p class="editable">At Aligned Light Healing I offer personalized strategies to help you connect deeply with yourself, teach you how to listen to your needs, and help you remember who you are at your core. </p>
				<p class="editable">It’s time to reconnect with your body and remember your worth.</p>
				<p class="editable">Let’s get started!</p>
			</div>
			<div class="image">
				<img class="editable" src="images/office-1.jpg"/>
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">I get it</h2>
				<p class="editable">Figuring out how to care for what your body needs can be overwhelming, and it’s really tough to know where to start. Especially if you’re dealing with chronic pain!</p>
				<p class="editable">As an adult Adhd human living with hyper-mobility, POTS, and a variety of other chronic conditions, I truly understand what it’s like to try to keep up with everything life throws at you while feeling constantly exhausted.</p>
				<p class="editable">I know that it can feel impossible to find a moment of calm and stillness in the whirlwind of things that are constantly trying to get your attention. That most days feel like you have to force yourself to keep going and you never know how far you you’re going to get before you crash.</p>
				<p class="editable">Here’s the thing…</p>
				<p class="editable">I’ve learned over the last few years of my healing journey that even though it is hard, it IS possible to make growth and healing a priority in the midst of the chaos. When you are intentional about setting aside the time to make sure that your own needs are met, other things in your life are able to shift. You begin to have new opportunities to give yourself the love, compassion, and healing that you deserve simply because you exist… And that changes everything.</p>
				<p class="editable">You matter.</p>
				<p class="editable">Your needs matter.</p>
				<p class="editable">And you deserve to live a supported and fulfilling life.</p>
			</div>
			<div class="image">
				<img class="editable" src="images/andrea-forest.jpg"/>
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Swipe and go</h2>
				<p class="editable">Frisco shows you cards with people who might be a good match for friendship. Swipe left to move to the next card or right to start talking.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Find your buddy today</h2>
				<p class="subtext editable">It's free, fun and an exciting way to meet new people.</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>
</div>
