---
title: Aligned Light Healing
description: The latest app to help you find new friends with common interests.
image: https://alignedlighthealing.com/images/header-main.jpg
bottom_image: https://alignedlighthealing.com/images/heron.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Align your light</h1>
			<p class="subtext editable">Find your balance with a unique combination of restorative bodywork, energy healing, and embodiment coaching.</p>
			<div class="cta button alt"><a href="https://pocketsuite.io/link/andrea-cunningham">Book Now</a></div>
		</div>
		<div class="get-started"><a href="#get-started">Let's get started <span class="arrow">&#x25BC;</span></a></div>
	</div>
	
</section>

<div class="content">
	<section class="info" id="get-started">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Welcome to a space created just for you!</h2>
				<p class="editable">To be aligned with your light simply means to be deeply connected to who you are. </p>
				<p class="editable">At Aligned Light Healing I offer personalized strategies to help you connect deeply with yourself, teach you how to listen to your needs, and help you remember who you are at your core. </p>
				<p class="editable">It’s time to reconnect with your body and remember your worth.</p>
				<p class="editable">Let’s get started!</p>
			</div>
			<div class="image">
				<img class="editable" src="images/office-1.jpg"/>
			</div>
		</div>
	</section>

	<section class="info" id="i-get-it">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">I get it</h2>
				<p class="editable">Figuring out what your needs are can be overwhelming and it’s really tough to know where to start!</p>
				<p class="editable">I know how challenging it is to figure out how to navigate life without support and that it can feel impossible to find a moment of calm and stillness in the whirlwind of things that are constantly trying to get your attention.</p>
				<p class="editable">Here’s the thing…</p>
				<p class="editable">While you have to be really intentional about it, it IS possible to make growth and healing a priority in the midst of the chaos. When you set aside the time to meet your own needs, you begin to see new ways to give yourself the love, compassion, and healing that you deserve simply because you exist.</p>
				<p class="editable">You matter.</p>
				<p class="editable">Your needs matter.</p>
				<p class="editable">I can help you as you navigate your own healing journey.</p>
			</div>
			<div class="image">
				<img class="editable" src="images/andrea-forest.jpg"/>
			</div>
		</div>
	</section>

	<section class="info" id="what-i-offer">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">What I offer</h2>
				<p class="editable">Whether you are just starting out on your healing journey or are well into it, finding consistent support can be a huge challenge!</p>
				<p class="editable">That’s where I come in.</p>
				<p class="editable">Bodywork</p>
				<p class="editable">  • Through gentle bodywork techniques, I encourage your body to recognize relaxation patterns so that it can self correct and unwind from old patterns created by habits, tension, and/or responses to pain.</p>
				<p class="editable">Interoceptive awareness</p>
				<p class="editable">  • Using elements of breath work, energy balancing, and guided visualization, I teach you how to listen to your body, figure out what needs attention, and help you build a deeper connection with the amazing and whole person that you already are.</p>
				<p class="editable">Wellness coaching</p>
				<p class="editable">  • To make sure that you are supported in between appointments, I provide personalized guidance for practical self care and techniques that you can use at home at any time.</p>
				<p class="editable">Let's get started!</p>
			</div>
			<div class="image">
				<img class="editable" src="images/puget-sound.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info" id="is-this-right-for-you">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">How do you know if this is right for you?</h2>
				<p class="editable">  • You want to get out of survival mode and start living a fulfilling life.</p>
				<p class="editable">  • You’ve tried other therapies for your tension and pain and are still experiencing tension and pain on a regular basis.</p>
				<p class="editable">  • You’re exhausted at the end of every day with no energy for the things that you enjoy and need something to change.</p>
				<p class="editable">  • You are ready to listen to what your body needs and make taking care of your needs a priority.</p>
				<p class="editable">  • You are neurodivergent, hyper-sensitive, hyper-mobile, or have other chronic conditions.</p>
				<p class="editable">No matter where you are at, I am confident that everyone has the capacity for change, growth, and to live a healthy and fulfilling life. </p>
				<p class="editable">I am so excited to help you find the tools that you need to feel like the amazing and whole person that you already are!</p>
				<a href="https://pocketsuite.io/link/andrea-cunningham">Book now!</a>
			</div>
			<div class="image">
				<img class="editable" src="images/trail.jpg" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Find balance today</h2>
				<p class="subtext editable">Take the first step in your healing journey</p>
				<div class="cta button alt"><a href="https://pocketsuite.io/link/andrea-cunningham">Book an appointment</a></div>
			</div>
		</div>
	</section>
</div>
